@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Quicksand:wght@300&family=Roboto+Condensed:wght@300&family=Tilt+Prism&display=swap');

.choose-options1 {
    background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yq/r/Zd_TxH-pOMv.png);
    background-position: 0px 0px;
    background-size: auto;
    width: 220px;
    height: 330px;
    background-repeat: no-repeat;
    display: inline-block;
}

.choose-options2 {
  background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yq/r/Zd_TxH-pOMv.png);
  background-position: 0px -330px;
  background-size: auto;
  width: 220px;
  height: 330px;
  background-repeat: no-repeat;
  display: inline-block;
}